@import './vars.css';
/* .App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  color: white;

} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0D0630;
}

html {
  scroll-padding-top: 75px;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #0D0630;
  color: white;
  /* overflow-y: auto; */
}

.leftPanel {
  position: fixed;
  width: 45%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0D0630;
  color: white;
  padding: 75px 75px;
  z-index: 10;
  overflow-y: auto; /* Allow scrolling on left panel */
}

.leftPanel h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.leftPanel h3 {
  margin-bottom: 1rem;
}

.leftPanel p {
  margin-bottom: 6rem;
  opacity: 0.7;
}

.leftPanel nav ul {
  list-style: none;
  padding: 0;
}

.leftPanel nav ul li {
  margin-bottom: 20px;
}

.leftPanel nav ul li a {
  color:white;
  text-decoration: none;
  font-size: 1.1rem;
}

.leftPanel nav ul li a:hover {
  text-decoration: underline;
}

.leftPanel nav ul li a.active {
  color: #ffcc00; /* Highlight color */
  font-weight: bold;
}

.contentWrapper {
  margin-left: 45%;
  padding: 75px 20px;
  /* position: relative; */
  width: 55%;
  height: 100vh;
  background-color: #0D0630;
  scroll-padding-top: 150px; /* Keeps the content aligned with the padding of the left panel */
  scroll-behavior: smooth;
}

.contentWrapper section {
  margin-bottom: 75px;
}

.contentWrapper h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.experienceCards {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between cards */
}

.experienceItem {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-bottom: 10px;
  background-color: #0D0630;
  border-radius: 16px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.timeSpent {
  font-size: .2rem;
  color: white;
}
.timeSpent p {
  font-size: .8rem;
}

.experienceItem:hover {
  /* transform: translateY(-2px); this adds like a bounce effect on hover*/
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  background-color: #140949;
}

.experienceItem:hover h3 {
  color: #8BBEB2
}

.experienceItem h3 {
  font-size: 1rem;
  margin-bottom: .7rem;
  font-weight: 550;
  
}

.projectLink {
  display: flex;
  align-items: center; /* Aligns the image and text vertically */
}

.projectLink p {
  font-size: .8rem;
}

.projectItem {
  display: flex;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-bottom: 10px;
  background-color: #0D0630;
  border-radius: 16px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.projectItem .projectDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectItem .projectDetails h3 {
  font-size: 1rem; /* Adjust as needed */
  text-decoration: none;
  font-weight: 550;
}

.projectItem .projectDetails p {
  font-size: .8rem;
  margin-bottom: .7rem;
  opacity: .7;
}

.projectCards {
  display: flex;
  flex-direction: column;
}

.projectItem:hover {
  /* transform: translateY(-2px); this adds like a bounce effect on hover*/
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  background-color: #2A2A40; /* Lighter grayish-blue */
}

.projectItem a {
  color: white;
  text-decoration: none;
}

.projectItem a:hover {
  text-decoration: underline;
}

.experienceDescription {
  opacity: 0.7;
}

.externalIcon {
  font-size: 0.7rem;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: 550;
}

.aboutText {
  opacity: .7;
}

.squid {
  /* cursor: url('/assets/pointers/squidward-cursor.png'), 16 16 auto !important; */
  cursor: url('../public/assets/pointers/cursor.png') 16 16, pointer;
}


.projectPreviewImage {
  width: 100px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  object-fit: cover; /* Ensures the image doesn't stretch or distort */
  border-radius: 8px; /* Optional, gives a rounded corner to the image */
  margin-right: 20px; /* Space between the image and text */
}