@import './vars.css';

/* .App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  color: white;

} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #140023;
}

html {
  scroll-padding-top: 75px;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #140023;
  color: white;
  /* overflow-y: auto; */
}

.leftPanel {
  position: fixed;
  width: 40%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #140023;
  color: white;
  padding: 75px 75px;
  z-index: 10;
  overflow-y: auto; /* Allow scrolling on left panel */
}

.leftPanel h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.leftPanel h3 {
  margin-bottom: 1rem;
}

.leftPanel p {
  margin-bottom: 6rem;
}

.leftPanel nav ul {
  list-style: none;
  padding: 0;
}

.leftPanel nav ul li {
  margin-bottom: 20px;
}

.leftPanel nav ul li a {
  color:white;
  text-decoration: none;
  font-size: 1.1rem;
}

.leftPanel nav ul li a:hover {
  text-decoration: underline;
}

.leftPanel nav ul li a.active {
  color: #ffcc00; /* Highlight color */
  font-weight: bold;
}

.contentWrapper {
  margin-left: 40%;
  padding: 75px 20px;
  /* position: relative; */
  width: 60%;
  height: 100vh;
  background-color: #140023;
  scroll-padding-top: 150px; /* Keeps the content aligned with the padding of the left panel */
  scroll-behavior: smooth;
}

.contentWrapper section {
  margin-bottom: 75px;
}

.contentWrapper h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.experienceCards {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between cards */
}

.experienceItem {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-bottom: 10px;
  background-color: #140023;
  border-radius: 16px;
  padding: 20px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.timeSpent {
  font-size: .3 rem;
  color: white;
}

.experienceItem:hover {
  /* transform: translateY(-2px); this adds like a bounce effect on hover*/
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  background-color: rgb(28, 0, 49);
}

.experienceItem h3 {
  font-size: 1rem;
  margin-bottom: .7rem;
}

.projectItem {
  display: flex;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-bottom: 10px;
  background-color: #140023;
  border-radius: 16px;
  padding: 20px;
}

.projectItem .projectDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectItem .projectDetails h3 {
  font-size: 1.5rem; /* Adjust as needed */
  margin-bottom: .7rem;
}

.projectItem .projectDetails p {
  font-size: 1rem; /* Adjust as needed */
  margin-bottom: .7rem;
}

.projectCards {
  display: flex;
  flex-direction: column;
}

.projectItem:hover {
  /* transform: translateY(-2px); this adds like a bounce effect on hover*/
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  background-color: rgb(28, 0, 49);
}