.pageContainer {
    color: white;
    padding: 50px 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.externalLinkIcon{
    font-size: .8rem;
}

.externalLinkIcon:hover {
    transform: scale(1.2); /* Make the icon slightly larger on hover */
    color: #ff6347; /* Change the color on hover */
  }

.bonAppetitLink {
    text-decoration: none;
    color: white;
}

.bonAppetitLink:hover {
    color: #ff6347; /* Change the link text color on hover */
  }

.bonAppetitLink:hover .externalLinkIcon {
    color: #ff6347; /* Change the icon color when hovering over the link */
    transform: scale(1.2); /* Slightly enlarge the icon */
  }

.section {
    padding-top: 20px;
    flex: 1;
}

.softwareUsed {
    padding-top: 20px;
}

.softwareUsed h2 {
    font-size: 1rem;
    font-style: italic;
}

.section p {
    max-width: 90%;
    line-height: 1.5;
    font-size: 1rem;
}

h2 {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    padding-bottom: 10px;
}

.backArrowLink {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.backArrowLink:hover {
    color: #ff6347; /* Change the link text color on hover */
}


.scrollableImagesContainer {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 20px 0;
    width: 50%;
    height: 100vh;
    overflow-y: hidden;
    margin-top: -100px;
}

.scrollableImagesContainer img {
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    min-width: 85%
}

.scrollableImagesContainer::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.textContent {
    flex: 1; /* Allow text content to take up remaining space */
}