.pageContainer {
    color: white;
    padding: 50px 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.externalLinkIcon {
    font-size: .8rem;
}

.externalLinkIcon:hover {
    transform: scale(1.2);
    color: #ff6347;
}

.bonAppetitLink {
    text-decoration: none;
    color: white;
}

.bonAppetitLink:hover {
    color: #ff6347;
}

.bonAppetitLink:hover .externalLinkIcon {
    color: #ff6347;
    transform: scale(1.2);
}

.introText {
    max-width: 45%;
}

.section {
    padding-top: 20px;
    flex: 0.45; /* Changed from 1 to 0.45 */
}

.sectionGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -200px;
    width: 100%;
    gap: 30px; /* Added gap to control spacing between text and images */
}

.section h2 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.softwareUsed {
    padding-top: 20px;
    padding-bottom: 5px;
}

.softwareUsed h2 {
    font-size: 1rem;
    font-style: italic;
}

p {
    width: 100%; /* Changed from max-width: 45% */
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 10px;
}

.textContent p {
    width: 100%; /* Changed from max-width: 45% */
}

.bonAppetitHeading {
    margin-top: 0.5rem;
}

.section p {
    width: 100%; /* Changed from max-width: 45% */
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    padding-bottom: 10px;
}

.backArrowLink {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.backArrowLink:hover {
    color: #ff6347;
}

.scrollableImagesContainer {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-top: 0px;
    height: 100vh;
    overflow-y: hidden;
    margin-top: -100px;
    flex: 0.55; /* Keep this to maintain proportion */
    width: 50%; /* Changed from max-width: 55% */
}

.scrollableImagesContainer img {
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    min-width: 85%
}

.scrollableImagesContainer::-webkit-scrollbar {
    display: none;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 5px;
    line-height: 1.5;
    width: 100%; /* Changed from max-width: 45% */
}

.textContent {
    flex: 0.45;
}

.expandButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    padding: 8px 0;
    margin: 4px 0;
    transition: opacity 0.2s ease;
}

.expandButton:hover {
    opacity: 0.8;
}